[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
libgen-api = "*"
bardapi = "*"
python-dotenv = "*"
wget = "*"
selenium = "*"
undetected-chromedriver = "*"
geckodriver-autoinstaller = "*"
libgenparser = "*"
fuzzywuzzy = "*"
pip = "*"
install = "*"
python-levenshtein = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
